%h1 Configured sources
%table.table
  %thead
    %tr
      %th{scope: "col"} Name
      %th{scope: "col"} Type
      %th{scope: "col"} Requests
      %th{scope: "col"} Last update
      %th{scope: "col"}
  %tbody
    - @sources.each do |s|
      - p = s.class
      %tr
        %td=s.provider_name
        %td=s.auth_type
        %td=s.requests.count
        %td.small.text-muted
          %time{class: "loaded timeago", datetime: "#{s.updated_at}", title: "source last update time"}
        %td
          =link_to "Details", source_path(s), class: "btn btn-primary btn-sm float-right"
          - case s.auth_type
          - when :oauth
            - if s.expired?
              =link_to "Refresh", "#{root_path}/auth/#{p}", class: "btn btn-danger btn-sm"
            - else
              =link_to "Refresh", "#{root_path}/auth/#{p}" #, class: "btn btn-secondary btn-sm float-right"
          - when :key
            =link_to "Edit", edit_source_path(s) #, class: "btn btn-secondary btn-sm float-right"

%h3 Unconfigured sources
%p Click on the name to configure
%ul
  -@missing_sources.each do |p|
    - case p::AUTH_TYPE
    - when :oauth
      %li
        =p.nice_name
        =link_to "Login", "#{root_path}/auth/#{p}", class: "btn btn-primary btn-sm"
    - when :key
      %li
        =p.nice_name
        =link_to "Create", new_source_path(provider: p), class: "btn btn-primary btn-sm"
